body {
    background-color: #554570;
    color: #efefef;
    font-family: monospace;
    font-size: 16px;
    max-width: 67%;
    margin: auto;
}

h2 {
    margin-top: 2em;
}

h3 {
    margin-top: 1em;
}

code {
    background-color: #000000;
    border: 1px solid #dfd3ce;
    display: block;
    padding: 10px;
}

a, a:visited {
    color: #e3b759;
}
